@*@model _Views_Home_Lobby*@
@model Battleships_MBernacki.Views.Home.Lobby

@{
    ViewData["Title"] = "Lobby";
}

<script>
    onLobbyLoad();
</script>


<div class="lobby flexContainer">
    <button>Create New Room</button>
    @*<p>@Model.MyProperty</p>*@



    <script>

        $(document).ready(function () {

            var options = {};
            options.url = "/api/room";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {

                data.forEach(function (element) {
                    console.log(element);
                    $("#result").append("<h3>" + element.roomName + " | "  + element.ownerName + "</h3>");
                });
            };
            options.error = function () {
                $("#msg").html("Error while calling the Web API!");
            };
            $.ajax(options);
        });


    </script>

    <div id="result"></div>
    <div id="msg"></div>

</div>


@*//*@

@*@model IEnumerable<Battleships_MBernacki.Models.RoomInfo>

    @{
        ViewData["Title"] = "Lobby";
    }

    <h2>Lobby</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequirePassword)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirePassword)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@
